@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');

/*colors and images*/
:root{
    --nav-links-color: #fff;
    --button-hover-color: #878584;
    --backoffice-menu-bg: #343a40;
    --table-head-bg: #e9ecef;
    --nav-link-hover-color: #f79800;
    --footer-color: #e3e3e3;
    --dark-layer: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
    --edit-button-color: #ffa207;
    --delete-button-color: #dc3545;
    --pagination-active-bg: #007bff;
    --text-color: #fff;
    --header-bg-image: url(img_bg_backoffice_usuario.jpg);
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}

/*header styles*/
header{
    background-image: var(--dark-layer), var(--header-bg-image);
    background-size: cover;
    background-position: center;
    height: 45vh;
    color: var(--text-color);
    box-sizing: border-box;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.backoffice_functions{
    background-color: var(--backoffice-menu-bg);
    display: flex;
    align-items: center;
    column-gap: 2rem;
    color: var(--nav-links-color);
    font-size: 0.7rem;
    padding: 1rem 5%;
}

.menu{
    display: flex;
    column-gap: 2rem;
}

a{
    text-decoration: none;
    color: inherit;
    justify-content: space-between;
}

/*table styles*/
table{
    width: 80%;
    margin: 1rem auto;
}

thead{
    background-color: var(--table-head-bg);
    padding: 1rem;
}

th{
    text-align: left;
    width: 20rem;
    padding: 1rem;
}


#form_fields{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form_field{
    min-width: 49%;
}

label{
    font-size: .7rem;
}


footer{
    background-color: var(--footer-color);
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0%;
}